.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin: 0;
  border: 1px solid black;
  padding: 1em;
}
.App-header {
  margin: 0.5em 0;
  text-decoration: underline;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {

}

dl, dt, dd {
  padding: 0;
  margin: 0;
}

.repo-list {
  font-size: 0.875em;
  
}

.repo-list-item {
  font-size: 0.875em;
}
